* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}
.nav {
  height: 100px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  border-bottom: 1px solid #ff735c;
}
.nav h2 {
  font-size: 2vw;
}
.nav i {
  font-size: 1.2vw;
  color: #000000;
  display: none;
}
.nav-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4vw;
}
.nav-2 ul li a {
  font-size: 1vw;
  color: #000000;
  text-decoration: none;
  padding-left: 20px;
  margin: 2px;
  font-weight: bold;
}

.content {
  height: calc(100% - 100px);
  width: 100%;
  position: relative;
  display: flex;
}
.left {
  height: 100%;
  width: 50%;

  padding: 7vw 5vw;
}
.left h1 {
  font-size: 4vw;
  line-height: 4vw;
}
.left h1 span {
  color: #ff735c;
}
.left p {
  font-size: 1.2vw;
  color: #666;
  font-weight: 600;
  width: 80%;
  margin: 2vh 0 3vh 0;
}
button {
  font-size: 1.2vw;
  color: #fff;
  background-color: #ff735c;
  border: none;
  padding: 1vw 2vw;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 800;
}
.right {
  height: 100%;
  width: 50%;
}
.right img {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  .nav {
    padding: 0 6vw;
    height: 60px;
  }
  .nav h2 {
    font-size: 6vw;
  }
  .nav-2 ul li {
    font-size: 4vh;
    display: none;
  }
  .nav i {
    display: block;
    font-size: 5vw;
  }
  .content {
    height: calc(100% - 60px);
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 50%;
    padding: 3vw 4vw;
  }
  .right {
    width: 100%;
    height: 50%;
  }
  button {
    font-size: 4vw;
    padding: 2vw 5vw;
    margin-top: 1.6vh;
  }
  .left h1 {
    font-size: 8vw;
    line-height: 9vw;
  }
  .left p {
    font-size: 3vw;
    margin: 1.3vh 0;
    width: 100%;
  }
}
