* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100vw;

  background-color: greenyellow;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
.elm {
  background-color: crimson;
  border: 3px solid black;
}
#elm1 {
  grid-column: 1/3;
  grid-row: 1 / 2;
}
